::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.alert-text {
  color: rgb(188, 3, 3);
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.page-content {
  height: 100%;
  width: 100%;
}

form {
  margin-bottom: 20px;
}

.login-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.register-link {
  color: rgb(0, 0, 0);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.chat-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.message-container {
  margin-top: 5px;
  padding: 5px;
}

.message-container:hover {
  background-color: rgb(255, 64, 129, 0.2);
  ;
}

.author {
  font-weight: bold;
  margin-right: 10px;
}

.creation-time {
  font-size: 12px;
  font-weight: 700;
}

.message-text {
  font-size: 12px;
  width: 365px;
  word-wrap: break-word;
}

.create-chat-button {
  position: absolute !important;
  right: 50px;
  bottom: 50px;
}