{% extends "base.html" %}
{% block content %}

<section class="login-content">

  <h1>Login</h1>

  <form class="login-form" action="/login/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="username" class="mdl-textfield__input" id="username" type="text" oninput="validateForm()">
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="password" class="mdl-textfield__input" id="password" type="password" oninput="validateForm()">
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>
    <div class="login-button-container">
      <button id="loginButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" disabled>Login</button>
    </div>
  </form>

  <script>
    function validateForm() {
      if (username.value.trim() !== '' && password.value.trim() !== '') {
        loginButton.removeAttribute('disabled');
      } else {
        loginButton.setAttribute('disabled', 'true');
      }
    }
  </script>

  <p>Not a user? Register <a class="register-link" href="/register/">Now</a></p>

  {% if wrongPassword %}

  <p class="alert-text">Wrong Username or Password</p>

  {% endif %}

</section>

{% endblock %}